
/* style a section ID */
#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding:3% 15%;
}

/* style a tag */
/* body {
    font-family: 'Montserrat';
} */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem; 
    line-height: 1.5;
}

.navbar {
    padding: 0 0 4.5rem;
}

/* stlye a class*/
.navbar-brand {
    font-family: 'Ubuntu Condensed', sans-serif;  
    font-size: 2.5rem;
    font-weight: bold;
    
}
 

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
*/


/* download-button */
.download-button{
    margin: 5% 3% 5% 0%;
}

/* title image */
.title-image{
    height: 60%;
    transform: rotate(25deg);
}
